html {
    scroll-behavior: smooth;
  }

.header {
  background-image: url('./assets/head.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.communityBg {
  background-image: url('./assets/rectangle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.faqs {
  background-image: url('./assets/faq.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}